<a href="https://colab.research.google.com/github/Janina-Ing/Analisis-y-visualizacion-de-datos/blob/main/Examen_Un_1_Alejandrina.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMPORTAR LIBRERIAS

In [4]:
import pandas as pd

# CARGAS EL ARCHIVO EXCEL

In [8]:
df = pd.read_excel('examen_transacciones.xlsx')

# VISUALIZAR LOS PRIMEROS 10 REGISTROS

In [9]:
print("Primeros 10 registros:")
print(df.head(10))

Primeros 10 registros:
   ID_Transaccion       Fecha  Cliente_ID Producto  Cantidad  Precio_Unitario  \
0            1001  2024-01-15         501   Laptop         1            15000
1            1002  2024-01-16         502    Mouse         2              350
2            1003  2024-01-16         503  Teclado         1              800
3            1004  2024-01-17         501  Monitor         1             4500
4            1005  2024-01-18         504   Laptop         2            15000
5            1006  2024-01-19         505    Mouse         3              350
6            1007  2024-01-20         502  Teclado         2              800
7            1008  2024-01-21         506  Monitor         1             4500
8            1009  2024-01-22         507   Laptop         1            15000
9            1010  2024-01-23         503    Mouse         2              350

       Estado    Metodo_Pago
0  Completado        Tarjeta
1  Completado         PayPal
2   Pendiente        Tarjeta
3  Completado  Transferencia
4  Completado        Tarjeta
5   Cancelado         PayPal
6  Completado        Tarjeta
7  Completado  Transferencia
8   Pendiente        Tarjeta
9  Completado         PayPal

# IMPRIMIR NOMBRE DE LAS VARIABLES

In [10]:
print("nColumnas del Data Frame")
print(df.columns)

nColumnas del Data Frame
Index(['ID_Transaccion', 'Fecha', 'Cliente_ID', 'Producto', 'Cantidad',
       'Precio_Unitario', 'Estado', 'Metodo_Pago'],
      dtype='object')

# CREAR COLUMNA "Subtotal"

In [12]:
df["Subtotal"] = df["Cantidad"]*df["Precio_Unitario"]

CREAR COLUMNA "IVA Trasladado"
# Insertamos a la derecha de Subtotal

In [15]:
pos = df.columns.get_loc('Subtotal') + 1
df.insert(pos, 'IVA Trasladado', df['Subtotal'] * 0.16)

#FILTRAR TRANSACCIONES COMPLETADAS

In [13]:
df['Subtotal'] = df['Cantidad'] * df['Precio_Unitario']

# CALCULAR TOTAL DE VENTAS POR PRODUCTO (CON IVA)

In [18]:
df_completadas = df[df['Estado'] == 'Completado'].copy()
df_completadas["Total_con_IVA"] = df_completadas["Subtotal"] + df_completadas["IVA Trasladado"]
ventas_producto = df_completadas.groupby("Producto")["Total_con_IVA"].sum().reset_index()
print("\nVentas por producto (con IVA):")
print(ventas_producto)

Ventas por producto (con IVA):
  Producto  Total_con_IVA
0   Laptop        87000.0
1  Monitor        15660.0
2    Mouse         3654.0
3  Teclado         3712.0

# TOTAL DE VENTAS (CON IVA)

In [19]:
Total_Ventas = df_completadas['Total_con_IVA'].sum()
print("\nTotal de Ventas con IVA:", Total_Ventas)

Total de Ventas con IVA: 110026.0

# M√ÅXIMO DE VENTAS POR CLIENTE

In [22]:
ventas_cliente = df_completadas.groupby('Cliente_ID')['Total_con_IVA'].sum()
df_completadas['Total_ventas_cliente'] = df_completadas['Cliente_ID'].map(ventas_cliente)

# CREAR COLUMNA "Max_Ventas_cliente"

In [25]:
df_completadas['Max_ventas_cliente'] = df_completadas['Cliente_ID'].map(ventas_cliente)

# PROMEDIO DE VENTAS POR PORDUCTO

In [26]:
mean_ventas_producto = df_completadas.groupby('Producto')['Total_con_IVA'].mean()
print("\nPromedio de ventas por producto:")
print(mean_ventas_producto)

Promedio de ventas por producto:
Producto
Laptop     21750.000000
Monitor     5220.000000
Mouse        913.500000
Teclado     1237.333333
Name: Total_con_IVA, dtype: float64

# CREAR COLUMNA "Mean_ventas_producto"

In [27]:
df_completadas['Mean_ventas_producto'] = df_completadas['Producto'].map(mean_ventas_producto)

# GUARDAR RESUMEN EN EXCEL

In [29]:
ventas_producto.to_excel('/content/Ventas_completadas_ELAO.xlsx', index=False)
print("\nArchivo guardado como Ventas_completadas_ELAO.xlsx")

Archivo guardado como Ventas_completadas_ELAO.xlsx